
@import "vr";

@mixin textMaxWidth{
  max-width: 498px;
  margin: 0 auto;
}

@mixin h4Text{
  font-family: $font-family-second;
  color:  #333b46;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@mixin pText{
  font-family: $font-family-first;
  color:  #81868e;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
}